.controls_group {
  display: flex;
  margin: 10px 0px;
  justify-content: center;
}

.controls_group2 {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 5px 0px;
}

.controls_button {
  margin: 2px 5px;
}